@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Links

@helper BuildHeaderChildrenLinks()
{

    var startPath = Sitecore.Context.Site.StartPath;
    var Itemhome = Sitecore.Context.Database.GetItem(startPath);

    //var datasourceId = RenderingContext.CurrentOrNull.Rendering.DataSource;
    //var ds = Sitecore.Context.Database.GetItem(datasourceId);


    <ul class="nav navbar-nav">
        <li>
            <a href="@LinkManager.GetItemUrl(Itemhome)">  @Itemhome.DisplayName </a>
        </li>
        @if (Itemhome.HasChildren)
        {
            foreach (Sitecore.Data.Items.Item item in Itemhome.Children)
            {
                <li>
                    <a href="@LinkManager.GetItemUrl(item)">  @Html.Sitecore().Field("Title",item) </a>
                </li>
            }
        }
        @*
            <li class="active"><a href="Home.html">Home</a></li>
            <li><a href="Products.html">Products</a></li>
            <li><a href="Services.html">Services</a></li>*@
    </ul>
}
<div class="collapse navbar-collapse" id="myNavbar">
    @BuildHeaderChildrenLinks()

</div>
